.App {
  font-family: sans-serif;
  text-align: center;
}

.yellow_green_color {
  color: yellowgreen;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.rotate {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
